*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:gray;
    font-family: 'Monstserrat', sans-serif;
}
/* -------UTILITY--------------- */
.hide{
    display: none;
}

.container-top{
    height: calc(100vh - 70px);
    background-color: rgba(26, 107, 182, 0.719);
    display: flex;
}
/* ------------SIDEBAR---------- */
.sidebar{
    height: 100%;
    background-color: #000;
    width: 200px;
    color: #fff;
}
.sidebar-container-large, .sidebar-container-small{
    width: 100%;
    height: calc(100% - 100px);
    /* border:3px solid green; */
}
.sidebar-container-large-menu{
    width: 100%;
    height: 240px;
    /* border:2px solid blue; */
}
.sidebar-container-large-playlist{
    width: 100%;
    height: calc(100% - 240px);
    /* border:2px solid blue; */
}
.sidebar-container-small{
    height: 100px;
}
.sidebar-container-logo{
    background-color: black;
    padding-bottom: 0px;
    padding-top: 12px;
    width: 115px;
    margin-left:18px;


    
}



.main{
    width: calc(100% - 60px);
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    background-color:#141922;
    padding-top: 150px;
}
header{
    position: fixed;
    top: 0;
    width: calc(100% - 180px);
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.upgrade-bar{
    background-color:rgba(20,25,34,255);
    height: 60px;
    width: 100%;
    position: fixed;
    top:0;
    /* border:1px solid white; */
}
.upgrade{
    margin-right: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    padding: 9px 21px;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
}


/* ------------PLAYER-CONTROL---------- */
.player-control{
    height: 60px;
    background-color: #282828;
    display: flex;
}
.player-left, .player-right{
    width: 250px;
    max-width: calc(100% / 3);
    height: 100%;
    border:1px solid white;
    background-color: #282828;
}
.player-center{
    background-color: #282828;
    border:1px solid white;
    width: calc(100% - 500px);
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
}
.box-sample{
    width: 80%;
    height: 50px;
    margin:0 auto;
    border:1px solid white;
}









.box{
    width: 50px;
    height: 130px;
    background-color: greenyellow;
    margin:15px;
}

/* -----------------MEDIA-QUERY---------- */

@media screen and (max-width: 575px){
  
    
    .sidebar{
        width: 50px;
        overflow-y: scroll;
    }
    .main{
        width: calc(100% - 50px);
    }
    .hide-mobile{
        display: none;
    }
    .show-mobile{
        display: block;
    }
}
    
